<div class="container show_wrapper">
  <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 text-center">
    <div class="card_wrapper slead_card_colour relative">
    <h5><%= @slead.firstname %> <%= @slead.lastname %></h5>
    <%= @slead.company %><br>
    <%= @slead.email %><br>
    <%= @slead.phone %><br>
    <%= link_to image_tag("edit.png", size:'25x25'), edit_slead_path(@slead), class:"edit_icon" %>
    </div>
    <%= link_to "Home", root_path, class:"btn btn-primary btn-home" %>
  </div>
</div>
