<!DOCTYPE html>
<html>
  <head>
    <title>SfDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

      <div class="header_wrapper">
        <%= link_to root_path do %>
        <div class="header_group">
          Heroku Connect Demo
        </div>
        <% end %>
        <div class="info_wrapper relative dialog">
          <%= image_tag('info.png', size:"35x35", class:"dialog") %>
          <div class="readme_wrapper tooltip_url">
            <p>Hi! This simple web app shows how Heroku can be integrated with Salesforce platform using Heroku Connect.</p>
            <p>This example uses Heroku Connect Sync method (Mapping).</p>
            <p>Any newly created or updated objects will be mapped to Heroku Postgres and SalesForce.</p>
            <p>Heroku Postgres Tables shows the latest modified objects.</p>
            <p>This web app is built with Rails and jQuery. *Rails is used instead of NodeJs as I needed to build it quickly and I am more familiar with Rails. However, web dev concepts are transferable and I am willing to learn and use other frameworks. :)</p>
            <p>^I am unable to demonstrate the use of Marketing Cloud as SalesForce has stopped their free trial account and developer edition for Marketing Cloud. :(</p>
          </div>
        </div>
      </div>

    <%= yield %>
  </body>
</html>

<script>
  $('.info_wrapper').on('click', function(){
    $(".readme_wrapper").show();
  });

  $(document).click(function(e) {
    if (!$(e.target).hasClass('dialog') ) {
        $(".readme_wrapper").hide();
    }
  });
</script>
